{{ define "main" }}
<article class="content">
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  <section class="post-list">
    {{ range .Pages }}
    <div class="post-card">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 de January, 2006" }}</time>
      {{ with .Description }}<p>{{ . }}</p>{{ end }}
      <a href="{{ .Permalink }}" class="read-more">Leer más &rarr;</a>
    </div>
    {{ end }}
  </section>
</article>
{{ end }}
